<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% block title %}{% endblock %} - distribuTube</title>
	<!--<base href="{{ config.server_name }}"/>-->

	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
	{% for stylesheet in stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{stylesheet}}">
	{% endfor %}
</head>
<body>
	<header><h1>{{ self.title() }}</h1></header>

	<div class="main">{% block content %}{% endblock %}</div>

	<footer>
		Powered by <a href="https://github.com/AtkinsSJ/distribuTube">distribuTube</a>
	</footer>

	{% for script in scripts %}
	<script type="text/javascript" src="{{script}}"></script>
	{% endfor %}

	{% if js %}
	<script type="text/javascript">{{ js|safe }}</script>
	{% endif %}
</body>
</html>